body,
html {
    height: 100%;
}

body {
    font-family: 'Open Sans';
    font-weight: 100;
    display: flex;
    overflow: hidden;
    position: relative;
    margin: 0 0 0 0;
}

body::after {
    content: "";
    background-image: url("background.jpg");
    background-size: cover;
    opacity: 0.7;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

input ::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.7);
}

input:focus {
    background: #252525;
    color: white;
    outline: none;
}

.login-form {
    min-height: 10rem;
    margin: auto;
    padding: 0.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;
}

.login-text {
    color: white;
    font-size: 1.5rem;
    margin: 0 auto;
    max-width: 50%;
    padding: 0.5rem;
    text-align: center;
}

.login-text .fa-stack-1x {
    color: black;
}

.login-username,
.login-password {
    background: transparent;
    border: 0 solid;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    color: white;
    display: block;
    margin: 1rem;
    padding: 0.5rem;
    transition: 250ms background ease-in;
    width: calc(100% - 3rem);
}

.login-username:focus,
.login-password:focus {
    /* background: white; */
    /* color: black; */
    background: #252525;
    color: white;
    outline: none;
    transition: 250ms background ease-in;
}

.myButton {
    border-radius: 17px;
    border: 2px solid #307d37;
    display: inline-block;
    cursor: pointer;
    color: #0f0d0f;
    font-family: Trebuchet MS;
    font-size: 16px;
    padding: 7px 35px;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
    background-color: #469256;
    outline: none;
}

.myButton:hover {
    background-color: #6ee088;
}

.myButton:active {
    position: relative;
    top: 1px;
}

@keyframes autofill {
    to {
        color: white;
        background: #252525;
    }
}

input:-webkit-autofill {
    animation-name: autofill;
    animation-fill-mode: both;
}


/* @keyframes hue-rotate {
    from {
        -webkit-filter: grayscale(30%) hue-rotate(0deg);
    }
    to {
        -webkit-filter: grayscale(30%) hue-rotate(360deg);
    }
} */

.close,
.closer {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    margin-left: 10px;
}

.close:hover,
.close:focus,
.closer:hover,
.closer:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #1a1b1b;
    border: 1px solid #888;
    width: 400px;
    height: auto;
    transform: translate(-50%, -50%);
}

.center {
    display: flex;
    width: 50%;
    margin: auto;
    flex-direction: column;
    text-align: center;
}

.button {
    background-color: rgb(91, 17, 104);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    margin: 4px 2px;
    width: auto;
    outline: none;
}

.button1 {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
}