.statistics {
    margin-left: 20%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.title {
    font-size: 40px;
    color: #1f2923;
    margin-bottom: 50px;
    text-align: center;
    font-family: "Monoton", cursive;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
}

.row .dance {
    margin: 0 10px 10px 10px;
    width: 30%;
}

.row .fav-song,
.row .hated-song {
    margin: 0 10px 10px 10px;
    width: 35%;
}

.row p {
    margin: 0 auto;
    margin-top: 10px;
    font-size: 25px;
    color: #16b553;
}

.row hr {
    width: 40%;
    height: 5px;
    background-color: rgb(91, 17, 104);
    border: none;
    margin-bottom: 50px;
}

.row .number {
    font-size: 12vw;
    color: #469256;
    text-shadow: -1px -2px rgb(152, 233, 186);
}

.row .minutes {
    color: #469256;
    text-shadow: -1px -2px rgb(152, 233, 186);
}

.row img {
    width: 60%;
}

.hr-div {
    border: none;
    height: 3px;
    width: 100%;
    background-color: gray;
    box-shadow: 0 0 10px rgba(255, 255, 255);
}


.chart h2 {
    color: #16b553;
    font-size: 30px;
    text-align: center;
}

.statistics .titlee {
    /* text-align: center;
    font-size: 30px;
    color: #45be7d;
    /* margin-bottom: -50px; 
    font-family: "Monoton", cursive;*/
    color: #16b553;
    font-size: 30px;
    text-align: center;
}

@media only screen and (max-width:920px) {
    
    .statistics {
        margin-left: 25%;
    }
    .row p {
        font-size: 23px;
    }
}

@media only screen and (max-width: 670px) {
    .row {
        flex-wrap: wrap;
    }
    .row .dance,
    .row .fav-song,
    .row .hated-song {
        width: 45%;
    }
    .row .number {
        font-size: 14vw;
    }
}

@media only screen and (max-width: 620px) {
    .row .dance,
    .row .fav-song,
    .row .hated-song {
        width: 70%;
    }
    .row .number {
        font-size: 16vw;
    }
}

@media screen and (max-width: 450px) {
    .sidenav {
        width: 0%;
    }
    .statistics {
        margin-top: 60px;
        margin-left: 0;
    }
    .statistics .menu,
    .statistics .unu,
    .statistics .doi,
    .statistics .trei {
        display: block;
    }
}

@media screen and (max-height: 450px) {
    .sidenav a {
        font-size: 18px;
    }
}